<div id="profile" class="profile">
  <div class="profile-info row">
    <div id="profile-image" class="image" align="center" data-can-edit=<%= can_edit(@user) %>>
    <%= cl_image_tag(@user.image, id: "image", :width => 200, :height => 200, :crop => :fill) %>
    </div>
    <div class="col-md-9 col-lg-9">
      <div class="row">
        <h3><%= @user.name %></h3>
      </div>
    </div>
  </div>
</div>

<%= render 'manuals/table', manuals: @user.manuals %>
</table>
