<h3>New Manuals</h3>
<%= render 'manuals/table', manuals: @new_manuals, sortable: false %>

<h3>Popular Manuals</h3>
<%= render 'manuals/table', manuals: @popular_manuals, sortable: false %>

<h3>Tag cloud</h3>
<div id='tag_cloud'>
  <% tag_cloud Manual.tag_counts, %w{s m l} do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>