@import '~bootstrap/scss/bootstrap';
@import 'sign_in';
@import 'forms';

#root {
  margin-top: 20px;
}

#manual {
  margin: 20px;
}
.preview{
  margin-right: auto;
  height: 500px;
  width: 30%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.page{
  margin-top: 5px;
  border: 1px solid black;
  height: 180px;
  width: 300px;
  background-color: white;
}