@import '~bootstrap/scss/bootstrap';
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";
@import 'sign_in';
@import 'forms';

#root {
  margin-top: 20px;
}

#manual {
  margin: 20px;
}

.pages{
  display: -webkit-flex;
  display: flex;

  .preview{
    z-index: 1;
    margin-right: auto;
    width: 320px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-flex: none;
            flex: none;

    .page{
      margin-top: 5px;
      border: 1px solid black;
      height: 180px;
      width: 300px;
      background-color: white;
      text-align: center;
      vertical-align: middle;
      line-height: 180px;
      p {
        font-size: 18pt;
        font-weight: bold;
      }
      position: relative;
    }
  }

  .currentPage{
    margin-top: 5px;
    border: 1px solid black;
    background-color: white;
    height: 500px;
    width: 800px;
    position: relative;
    -webkit-flex: none;
            flex: none;
    
    .text-handler{
      position: absolute;
      color: rgba(0, 0, 0, 0.2);
    }

    .video-handler{
      position: absolute;
      color: rgba(255, 255, 255, 0.6);
    }

    .block{
      width: 100%;
      border: 1px dashed black;
      display:inline-block;
    }

    .image_block{
      width: 100%;
      height: 100%;
      img {
          max-width: 100%;
          max-height: 100%;
          user-select: none;
          -moz-user-select: none;
          -webkit-user-drag: none;
          -webkit-user-select: none;
          -ms-user-select: none;
      }
    }
    
    .video_block{
      width: 100%;
      height: 100%;
      position: absolute;
      iframe {
          width: 100%;
          height: 100%;
          user-select: none;
          -moz-user-select: none;
          -webkit-user-drag: none;
          -webkit-user-select: none;
          -ms-user-select: none;
      }
    }


    .header {
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
    }

    .body{
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
    }

    .footer{
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
    }
  }
}

.overlay{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  .message{
    background:  #fff;
    width: 300px;
    margin: 300px auto;
    padding: 20px;
    text-align: center;
  }
}

.page{
  margin-top: 5px;
  border: 1px solid black;
  height: 180px;
  width: 300px;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 180px;
  p {
    font-size: 18pt;
    font-weight: bold;
  }
  position: relative;
  z-index: 1;
}

.draghandle{
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 5px;
}