<tbody>
    <% manuals.each do |manual| %>
      <tr class="m-0">
        <td class="w-33"><%= link_to manual.title, manual %></td>
        <td class="w-17"><%= manual.category.title %></td>
        <td class="w-25"><%= link_to manual.user, user_path(manual.user_id) %></td>
        <td class="w-25"><%= manual.updated_at.to_s(:db) %></td>
      </tr>
    <% end %>
</tbody>